extends layout

block content
  h2 Bienvenido a la Agenda de Consultorios
  p Aquí puedes gestionar médicos y agendar turnos.
  a(href="/medicos") Gestionar Médicos
  a(href="/agendar-turno") Agendar Turnos
